$primary_color: #2f793f;
$primary_color_light: #64c376;
$secondary_color: #cf3721;
$other-color: #cf3721;
$other-color2: #cf3721;
$gradient: linear-gradient(to right, $primary_color, $primary_color_light);
$gradient2: linear-gradient(to right, #52aa63, #60bd72);

$paper-color: #fcfaea;
$text: #000;
$otherText: #fff;
